@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
}
/* Navigation Bar */


/* Home */

#profile-pic {
    max-width: 30%;
    height: auto;
}

.social a {
    font-size: 8vw;
    padding: 15px;
}

.fa-caret-square-down {
    color: #ffffff;
    font-size: 3em;
    margin-top: 5%;
}

.fa-facebook, 
.fa-instagram,
.fa-linkedin,
.fa-wordpress,
.fa-github, 
.fa-file {
    color: #ffffff;
    opacity: 0.6;
}

.fa-facebook:hover,
.fa-wordpress:hover, 
.fa-github:hover, 
.fa-instagram:hover,
.fa-linkedin:hover, 
.fa-file:hover {
  color: #ffffff;
  opacity: 1;
}

.padding {
    padding: 0px 30px;
}

.home {
    padding-top: 3%;
}

.home h3 {
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    color: white;
}

.home p {
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    color: white;
}



.background-home {
    background-image: url(../img/home/background-original.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-position: center center;
    height: 100vh;
}

/* Projects */

.projects h1 {
    font-weight: 400;
}

.projects {
    background-color: #f5f5f5;
}

/* Responsiveness */
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    #profile-pic {
        max-width: 50%;
        height: auto;
    }

    .social a {
        font-size: 4.5em;
    }
}

@media (min-width: 992px) {
    .fa-caret-square-down {
        color: #ffffff;
        font-size: 4.5em;
    }
}

@media (min-width: 1200px) {
    .slide-effect {
        box-shadow: 0 0 0 0 #000000;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }

    .slide-effect:hover {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    .img-grav {
        content: url('../img/projects/gravity.gif');
    }

    .img-rotmg {
        content: url('../img/projects/rotmg.gif');
    }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

