@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html {
    scroll-behavior: smooth;
}
/* Navigation Bar */


/* Home */

#profile-pic {
    max-width: 50%;
    height: auto;
}

.social a {
    font-size: 4.5em;
    padding: 20px;
}

.fa-facebook, 
.fa-instagram,
.fa-linkedin,
.fa-wordpress,
.fa-github {
    color: #ffffff;
    opacity: 0.6;
}

.fa-facebook:hover,
.fa-wordpress:hover, 
.fa-github:hover, 
.fa-instagram:hover,
.fa-linkedin:hover {
  color: #ffffff;
  opacity: 1;
}

.padding {
    margin: 30px 0px;
}

.home {
    padding-top: 3%;
}

.home h1 {
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    color: white;
}

.home p {
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    color: white;
}

.background-home {
    background-image: url("../img/home/background-original.jpg");
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 110%;
}

/* Projects */

.projects {
    margin-top: 25%;
}

.card {
    padding: 2%;
}

/* Responsiveness */
@media (min-width: 576px) {
    .background-home {
        height: 100%;
    }
    
    .home {
        padding-top: 0%;
    }
}

@media (min-width: 768px) {
    .background-home {
        height: 100%;
    }

    .home {
        padding-top: 1%;
    }
}

@media (min-width: 992px) {
    #projects {
        margin-top: 20%;
    }
}

@media (min-width: 1200px) {
    #projects {
        margin-top: 20%;
    }

    .background-home {
        height: 95%;
    }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

